<div class="window-content" id="osrs-index-window">
    <div class="title-bar" id="osrs-index-title-bar">
        <h4>OSRS Tools</h4>
        <div>
            <button id="close-osrs-index-button" class="w98-button title-button">X</button>
        </div>
    </div>

    <div class="menu-grid">
        <div id="super-combats-button" class="w98-button">
            Super Combat Potions
            <div class="tool-description">Find cheapest ingredients for super combat potions</div>
        </div>

        <div id="goading-regens-button" class="w98-button">
            Goading & Prayer Regen Potions
            <div class="tool-description">Calculate production costs and profits for goading and prayer regen potions</div>
        </div>
    </div>
</div>