<div class="window-content" id="osrs-index-window">
    <div class="title-bar" id="osrs-index-title-bar">
        <h4>OSRS Tools</h4>
        <div>
            <button id="close-osrs-index-button" class="w98-button title-button">X</button>
        </div>
    </div>

    <div class="menu-grid">
        <a href="{{ url_for('osrs.super_combats') }}" class="w98-button">
            Super Combat Potions
            <div class="tool-description">Find cheapest ingredients for super combat potions</div>
        </a>

        <a href="{{ url_for('osrs.calc') }}" class="w98-button" disabled>
            Calculators
            <div class="tool-description">Various OSRS calculators and tools</div>
        </a>
    </div>
</div>