colorama
discord.py
Flask
flask_limiter
Flask_Login
flask_wtf
Markdown
Pillow
protobuf
psutil
psycopg2
psycopg2_binary
python_magic
rapidfuzz
Requests
stdlib_list
waitress
Werkzeug
WTForms
python-dateutil
matplotlib
email_validator
pygments
markdown-checklist