html {
    background: #e1e1e1;
}

html, body {
    margin: 0;
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    background: #eeeeee;
    max-width: 960px;
    margin: 0 auto;
    visibility: visible;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
