<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('fort.login') }}" class="login-form">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password(size=32) }}
            </p>
            <div class="form-radio">
                {{ form.remember.label }} {{ form.remember() }}
            </div>
            <p class="submit-button">{{ form.submit() }}</p>
            <a href="{{ url_for('fort.register_customer') }}">Register</a>
            <a href="{{ url_for('fort.forgot_password') }}">Forgot your password?</a>
        </form>
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <p style="color:red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>