<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <pre style="font-family: monospace; color: #2f2f2f; text-align: center;">
██╗  ██╗  ██████╗  ██╗  ██╗
██║  ██║ ██╔═══██╗ ██║  ██║
███████║ ██║   ██║ ███████║
╚════██║ ██║   ██║ ╚════██║
     ██║ ╚█║████╔╝      ██║
     ╚═╝  ╚╝╚═══╝       ╚═╝
    </pre>
    <h1 style="font-family: monospace; color: #2f2f2f; text-align: center;">404 Not Found</h1>
    <p style="font-family: monospace; color: #2f2f2f; text-align: center;">The page you are looking for could not be found.</p>
</body>
</html>