<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <pre style="font-family: monospace; color: #2f2f2f; text-align: center;">
███████╗  ██████╗   ██████╗ 
██╔════╝ ██╔═████╗ ██╔═████╗
███████╗ ██║██╔██║ ██║██╔██║
╚════██║ ████╔╝██║ ████╔╝██║
███████║ ╚██████╔╝ ╚██████╔╝
╚══════╝  ╚═════╝   ╚═════╝ 
    </pre>
    <h1 style="font-family: monospace; color: #2f2f2f; text-align: center;">500 Internal Server Error</h1>
    <p style="font-family: monospace; color: #2f2f2f; text-align: center;">Something unexpected happened. If the problem persists, please email alice@araxia.xyz.</p>
</body>
</html>