<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Araxia.xyz</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            visibility: hidden;
            min-height: 100vh;
        }   
    </style> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <canvas id="background"></canvas>
    <div id="index_container" class="index_container">
        <div class="index_content">
            <div class="title-bar">
                <h4>Araxia.xyz</h4>
                <button id="help-me-button" class="w98-button">?</button>
            </div>
            <h1>Welcome!</h1>
            <ul>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </li>
                <li>
                    <a href="{{ url_for('osrs.index') }}"><button class="w98-button">OSRS Tools</button></a>
                </li>
                <li>
                    <div class="log-reg-container">
                        <a href="{{ url_for('fort.login') }}"><button class="w98-button" disabled>Login</button></a>
                        <a href="{{ url_for('fort.register') }}"><button class="w98-button" disabled>Register</button></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const SHADERURL = "{{ url_for('static', filename='glsl/indexBGShader.glsl') }}";
    </script>
    <script src="{{ url_for('static', filename='js/index_background.js') }}"></script>
</body>
</html>
